@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Roboto:wght@400;500;700&display=swap');

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  text-rendering: optimizeLegibility;
  font-style: normal;
  color: #18191F;
  /* background: #fff; */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

i,
a,
button {
  cursor: pointer;
}